@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "react-phone-input-2/lib/style.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;

  /* Transitions */
  --default-transition-duration: 300ms;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.56 0.25 302);
  --primary-foreground: oklch(0.98 0.01 308);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.83 0.11 306);
  --chart-2: oklch(0.72 0.18 306);
  --chart-3: oklch(0.63 0.23 304);
  --chart-4: oklch(0.56 0.25 302);
  --chart-5: oklch(0.5 0.24 302);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.56 0.25 302);
  --sidebar-primary-foreground: oklch(0.98 0.01 308);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Colors */
  --primary: #7c79d4 !important;
  --secondary: #f1f1f1 !important;
  --tertiary: #f1f1f1 !important;
  --warn: #bb8111 !important;
  --info: #06638d !important;
  --danger: #bc5557 !important;
  --success: #5bda1f !important;
  --gray: #333 !important;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.63 0.23 304);
  --primary-foreground: oklch(0.98 0.01 308);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.83 0.11 306);
  --chart-2: oklch(0.72 0.18 306);
  --chart-3: oklch(0.63 0.23 304);
  --chart-4: oklch(0.56 0.25 302);
  --chart-5: oklch(0.5 0.24 302);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.72 0.18 306);
  --sidebar-primary-foreground: oklch(0.98 0.01 308);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --color-gray-400: var(--muted-foreground);

  /* Colors */
  --primary: #7c79d4 !important;
  --secondary: #242424 !important;
  --tertiary: #111 !important;
  --warn: #bb8111 !important;
  --info: #06638d !important;
  --danger: #bc5557 !important;
  --success: #5bda1f !important;
  --gray: #333 !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html {
  font-size: 90%;
}

*::-webkit-scrollbar {
  display: none;
}

.gradient-border {
  z-index: 0;
  position: relative;
}

.gradient-border::before {
  content: "";
  inset: 0;
  padding: 1px;
  position: absolute;
  border-radius: inherit;
  background: linear-gradient(45deg, var(--primary), var(--info)) !important;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

/* Phone input */
.react-tel-input .form-control,
.react-tel-input .flag-dropdown {
  @apply bg-input/30! border-primary/40! focus-visible:border-ring! focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive! dark:aria-invalid:border-destructive/50! h-9! rounded! border! py-1! text-base! transition-colors focus-visible:ring-[3px] aria-invalid:ring-[3px] md:text-sm! placeholder:text-muted-foreground! min-w-0 outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 data-[invalid=true]:border-red-900 data-[invalid=true]:ring-red-900;
}

.react-tel-input .form-control {
  @apply w-full!;
}

.react-tel-input .flag-dropdown {
  @apply border-e-0! rounded-e-none!;
}

.react-tel-input .flag-dropdown:hover {
  @apply bg-input/10!;
}

.react-tel-input .selected-flag {
  background: transparent !important;
}

.react-tel-input .country-list {
  @apply bg-background!;
}

.react-tel-input .country-list .country {
  background-color: transparent !important;
}
